<div class="footer">1
    <div class="footer-container">
        <h3>{{companyTitle}}</h3>
        <hr class= "horizontal-line">
        <div class="footer-box">
            <div>
                <p>{{navigation}}</p>
                <p>{{careers}}</p>
                <p>{{platform}}</p>
                <p>{{about}}</p>
                <p>{{contact}}</p>
            </div>
            <div class="footer-line">
                <span class="perpendicular-line"></span>
                <div class="footer-privacy">
                    <p>{{privacy}}</p>
                    <p>{{privacyPolicy}}</p>
                    <p>{{privacyStatement}}</p>
                    <p>{{privacyShield}}</p>
                </div>    
            </div>
            <div class="footer-findus">
                <p>{{findUs}}</p>
                <p>{{address}}</p>
                <p>{{phoneNumber}}</p>
            </div>
        </div>
    </div>
</div>
