# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/rameshangularfrontend/dist
/rameshangularfrontend/tmp
/rameshangularfrontend/out-tsc
# Only exists if Bazel was run
/rameshangularfrontend/bazel-out

# dependencies
/rameshangularfrontend/node_modules
/surajreactfrontend/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/rameshangularfrontend/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/rameshangularfrontend/.sass-cache
/rameshangularfrontend/connect.lock
/rameshangularfrontend/coverage
/rameshangularfrontend/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/rameshangularfrontend/typings

# System Files
.DS_Store
Thumbs.db