<app-description-image
message1="A WORKFORCE MANAGEMENT PLATFORM TO:"
  message2="UNCOVER HUMAN POTENTIAL"
  message3="Nexus A.I. is a cloud-based platform that
            recommends the teams and individuals most likely to succeed across
            all projects. Powered by artificial intelligence and organizational
            behavior science, we offer the next-generation of 
            workforce management."
  message4="Request Demo"
  textonleft=true
></app-description-image>
<div class="company-vision-container">
    <app-company-vision-card
        message1 = "TEAMING"
        message2 = "The Nexus A.I. team builder helps you create
                        cohesive units that are well equipped to succeed
                        on the job. We ensure teams meet organizational
                        requirements and that individual members are put
                        in a position that aligns with their skills, interests
                        and experiences."
    ></app-company-vision-card>
    <app-company-vision-card
    message1 = "RESOURCING"
    message2 = "Hire freelancers for various work requests. Access workforce analytics
                and measure the effectiveness of all company resources in an intutitive
                platform. Over time, we help identify your top performing freelancers and
                vendors across functional areas."
    shadow="0px 0px 10px 10px lightgray"
    ></app-company-vision-card>
    <app-company-vision-card
    message1 = "IDEATION"
    message2 = "Unlock innovation and new thinking by launching a crowdsourced ideation 
                campaign. Choose participants or launch a public campaign to source diverse
                inputs from your network. Engage employees and foster in a new era of collaboration."
    ></app-company-vision-card>
</div>
<div class="testimonial-container">
  <div class="testimonial-text">
    <p class="testimonial-paragraph">proven track record serving</p>
    <h3>Users in 40+ countries across 6 continents</h3>
    <button class="testimonial-button">Request information sheet</button>
  </div>
  <app-testimonial-carosel></app-testimonial-carosel>
</div>
<app-description-image
logo="profile"
  message1="Team"
  message2="Revoluntionizing team formation"
  message3="Nexus A.I. offer enterprises the easiest way to built
            project teams. We ensure teams meet organizational
            requirements, performance goals and have the right
            chemistry to succeed."
  message4="See the platform"
  textonleft=true
  profilebutton=true
  bgColor="white"
  textColor="black"
></app-description-image>
<app-description-image
logo="profile"
  message1="IDEATION"
  message2="Crowdsource creative ideas"
  message3="
    Capture feedback from employees
    >Develop creative concepts for briefs
    >Unlock ideas from across your network
    >Save every idea in a repository"
  message4="Learn More"
  profilebutton=true
  bgColor="white"
  textColor="black"
></app-description-image>
<app-description-image
message1="RESOURCING"
  message2="Manage and hire your approved freelancers."
  message3="Nexus A.I. helps you on-board your vendors 
  and freelancers into our resourcing module. From there, 
  you can hire outside talent in a few clicks. Bring more 
  work to lower-rate contractors over time."
  message4="Request Demo"
  buttonhide=true
  textonleft=true
  companyLogo=true
  bgColor="white"
  textColor="black"
></app-description-image>
<div class="company-vision-container" [ngStyle]="{'background-color':'lightblue'}">
  <app-company-vision-card
      message1 = "MANAGE COMPLEX TAXONOMIES"
      message2 = "Nexus utilizes natural language processing to help organize skills, job titles, and other complex word relationships.."
  ></app-company-vision-card>
  <app-company-vision-card
  message1 = "PREDICTIVE WORKFORCE INTELLIGENCE"
  message2 = "Nexus provides clients with customizable reports and visualizations that help you plan for the future."
  ></app-company-vision-card>
  <app-company-vision-card
  message1 = "AI-POWERED PEOPLE SEARCH"
  message2 = "Our machine learning technology uses project and performance data to continually improve search results and create stronger teams."
  ></app-company-vision-card>
</div>
<div class="conversation-component">
  <app-company-conversation></app-company-conversation>
</div>
<app-footer
  companyTitle="Nexus A.I. | THE FUTURE OF WORK IS HERE."
  navigation="NAVIGATION"
  careers="careers"
  platform="platform"
  about="About"
  contact="Contact"
  privacy="PRIVACY"
  privacyPolicy="Privacy Policy"
  privacyStatement="Privacy Statement"
  privacyShield="Privacy Shield"
  findUs="FIND US"
  address="17 E. MONROE STREET, SUITE 202
  CHICAGO, IL 60603"
  phoneNumber="312-724-9034
  CONTACT@NEXUSAI.COM"
></app-footer>
<!-- <app-testimonial-card
  testimonialImage="assets/tunder.png"
  testimonialDescription="Nexus is helping companies discover untapped talent."
  testimonialCompany="FORBES">
</app-testimonial-card> -->
